<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>项目负责人</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../../static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../../static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand waves-effect waves-dark"> <strong>大创中心管理平台</strong></div>
                
                <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right"> 
                <!-- <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i class="fa fa-envelope fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>              
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown3"><i class="fa fa-tasks fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li> -->
                  <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>项目负责人</b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </nav>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="home">
                        <a href="" class="waves-effect waves-dark"><i class="fa fa-home"></i>首页</a>
                    </li>

                    <li>
                        <a href="projectApplication.html" target="iFrame" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>项目申报</a>
                    </li>

                    <li class="disabled">
                        <a href="#" class="waves-effect waves-dark"><i class="fa fa-edit menu-font"></i>我的项目</a>
                    </li>

                    <li class="disabled">
                        <a href="#" class="waves-effect waves-dark"><i class="fa fa-desktop"></i>项目变更</a>
                    </li>

                    <li class="disabled">
                        <a href="#" class="waves-effect waves-dark aa"><i class="fa fa-bar-chart-o"></i> 历史纪录</a>
                    </li>                 
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <!-- 首页内容 -->
        <div id="page-wrapper">
           <iframe name="iFrame" class="iFrame" width=100% src="home-PL.html" scrolling= "auto" frameborder= "0"></iframe>
        </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="../../static/js/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $("#wrapper").height($(window).height()-59+"px");
        $(".iFrame").height($("#wrapper").height());
    </script>


    <!-- Bootstrap Js -->
    <script src="../../static/js/bootstrap.min.js"></script>
    
    <script src="../../static/js/materialize.min.js"></script>
    
    <!-- Metis Menu Js -->
    <script src="../../static/js/jquery.metisMenu.js"></script>
    
    <!-- Custom Js -->
     <script src="../../static/js/custom-scripts.js"></script>

</body>

</html>