<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理员--大创项目管理</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../../static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../../static/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../../static/css/style-s.css">
    	{%macro decideStastu(status)%}
	    {%for x in stalist%}
	        {%if status==x[0]%}
	        {{x[1]}}
	        {%endif%}
	    {%endfor%}
	{%endmacro%}
</head>

<body>
<div class="pM-m-main">
    
    <h2>本年度项目列表</h2><br>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>项目编号</th>
                    <th>项目名称</th>
                    <th>当前状态</th>
                    <th>项目负责人</th>
                    <th>指导教师</th>
                    <th>管理</th>
                </tr>
            </thead>
            <tbody>
            {%for pro in pros%}
                <tr>
                  <td>{{pro.proID}}</td>
                  <td>{{pro.Pname}}</td>
                  <td>{{decideStastu(pro.Status)}}</td>
                  <td>{{pro.Person_in_charge}}</td>
                  <td>{{pro.Teacher}}</td>
                  <td><a href="/project/{{pro.pid}}" target="iFrame"><button type="button" class="btn btn-primary">查看</button></a>
                  <a href="/delete/project/{{pro.pid}}"><button type="button" class="btn btn-danger">删除</button></a>
{%if auth==1%}
                      <a href="/changeProStatus/waitendreport/{{pro.pid}}" target="iFrame"><button type="button" class="btn btn-primary">项目跳转到待提交结题报告状态</button></a>
                                        <a href="/changeProStatus/end/{{pro.pid}}" target="iFrame"><button type="button" class="btn btn-primary">项目跳转到结题成功状态</button></a>
                  {%endif%}
                  </td>
                </tr>
            {%endfor%}
            </tbody>

        </table>
    <ul class="pagination">
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for('projectManage', page=pagination.prev_num) }}{% else %}#{% endif %}">
            «
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="active">
                <a href="{{ url_for('projectManage', page = p) }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('projectManage', page = p,) }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled"><a href="#">…</a></li>
        {% endif %}
    {% endfor %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for('projectManage', page=pagination.next_num) }}{% else %}#{% endif %}">
            »
        </a>
    </li>
</ul>


</div>


    <!-- jQuery Js -->
    <script src="../../static/js/jquery-1.10.2.js"></script>
	<script type="text/javascript">
        $("#wrapper").height($(window).height()-59+"px");
        $(".iFrame").height($("#wrapper").height());
    </script>

	<!-- Bootstrap Js -->
    <script src="../../static/js/bootstrap.min.js"></script>
	
	<script src="../../static/js/materialize.min.js"></script>
	
    <!-- Metis Menu Js -->
    <script src="../../static/js/jquery.metisMenu.js"></script>
	
    <!-- Custom Js -->
    <script src="../../static/js/custom-scripts.js"></script>

</body>

</html>