<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理员--项目管理</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../../static/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../../static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../../static/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../../static/css/style-s.css">
    	{%macro decideStastu(status)%}
	    {%for x in stalist%}
	        {%if status==x[0]%}
	        {{x[1]}}
	        {%endif%}
	    {%endfor%}
	{%endmacro%}
</head>

<body>
<div class="pM-m-main">
    
        <h2>本年度项目列表</h2><br>
        <div class="form-group">
            <div class="col-sm-2">
                <select class="form-control">
                    <option>项目类型</option>
                    <option>计算机设计大赛</option>
                    <option>大学生创新创业大赛</option>
                    <option>三创</option>
                    <option>双创</option>
                </select>
            </div>
            <div class="col-sm-2">
                <select class="form-control">
                    <option>评审级别</option>
                    <option>校级</option>
                    <option>省级</option>
                    <option>国家级</option>
                </select>
            </div>
            <div class="col-sm-2">
                <select class="form-control">
                    <option>当前状态</option>
                    <option>未审核</option>
                    <option>已审核</option>
                </select>
            </div>
            <div class="col-sm-2">
                <select class="form-control">
                    <option>年份</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                </select>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                   <input type="text" class="form-control" placeholder="输入想要筛选的教师名字">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            Go!
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>项目编号</th>
                    <th>项目名称</th>
                    <th>当前状态</th>
                    <th>项目负责人</th>
                    <th>指导教师</th>
                    <th>管理</th>
                </tr>
            </thead>
            <tbody>
            {%for pro in pros%}
                <tr>
                  <td>{{pro.pid}}</td>
                  <td>{{pro.pname}}</td>
                  <td>{{decideStastu(pro.status)}}</td>
                  <td>{{pro.Person_in_charge}}</td>
                  <td>{{pro.teacher}}</td>
                  <td><a href="audit-judge-audit.html" target="iFrame"><button type="button" class="btn btn-warning">管理</button></a></td>
                </tr>
            {%endfor%}
            </tbody>

        </table>
        <div style="text-align:center">
            <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
</div>


    <!-- jQuery Js -->
    <script src="../../static/js/jquery-1.10.2.js"></script>
	<script type="text/javascript">
        $("#wrapper").height($(window).height()-59+"px");
        $(".iFrame").height($("#wrapper").height());
    </script>

	<!-- Bootstrap Js -->
    <script src="../../static/js/bootstrap.min.js"></script>
	
	<script src="../../static/js/materialize.min.js"></script>
	
    <!-- Metis Menu Js -->
    <script src="../../static/js/jquery.metisMenu.js"></script>
	
    <!-- Custom Js -->
    <script src="../../static/js/custom-scripts.js"></script>

</body>

</html>