/*header{
	height: 70px;
}*/
h1 {
	font-family: "微软雅黑";
}
.navbar.default-menu{
    border-radius: 0;  
    border: 0; 
    margin-bottom: 0; 
    background-color: transparent;
}
.ls-header{
	background-color: rgba(0,0,0,0.6) !important;
}

/*.navbar-header{
    height: 70px;
}*/
.default-logo img{
    float: left;
    width: 170px;
    padding-top: 10px;
    padding-left: 10px;
}

.default-menu.navbar-default .navbar-toggle {
    border-radius: 0;
    border-width: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.default-menu.navbar-default .navbar-nav > li > a{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 40px !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "微软雅黑";

}

.default-menu.navbar-default .navbar-nav > li:last-child > a{
    padding-right: 0;
}

.default-menu.navbar-default .navbar-nav > li > a i{
    position: relative;
    line-height: 40px;
}

.default-menu.navbar-default .navbar-nav > li > a:active, 
.default-menu.navbar-default .navbar-nav > li > a:focus, 
.default-menu.navbar-default .navbar-nav > li > a:hover{
    color: #E5247C;
    font-size: 16px;
}

.default-menu.navbar-default .navbar-nav > .active > a, 
.default-menu.navbar-default .navbar-nav > .active > a:focus, 
.default-menu.navbar-default .navbar-nav > .active > a:hover{
    background-color: transparent;
    color: #CEC4C4;
}

.btn.btn-default.navbar-btn {
    background-color: transparent;
    color: #fff;
    font-weight: 400;
    padding: 5px 15px;
    border: none;

/*    border: 1px solid #fff;*/
}
.homeMenu_active{
	background-color: #C99A05 !important;
}
.btn.btn-default.navbar-btn:hover{
    background-color: rgba(255,255,255,0.3);
}

.banner{
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position:  center/cover;
}
.banner-cover{
	padding-top: 70px;
	width: 100%;
	float: right;
	background-color: rgba(0,0,0,0.4);
}
.logo-sty{
	display: inline-block;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 22px;
	line-height: 70px;
	letter-spacing: 5px;
}
.banner-inner{
	padding-top: 250px;
	/*vertical-align: middle;*/
	text-align: center;
	font-family: "微软雅黑";
}
.p1{
	color: #fff;
	font-size: 28px;
	letter-spacing: 5px;	
}
.enter-sty{
	color: #fff !important;
	padding: 8px 25px;
	letter-spacing: 2px;	
	background-color: #0090E3;
	margin-top: 15px;
}
.enter-sty:hover{
	color: #fff;
	background-color: #037EC4;
}
/*popover弹出*/
.popover-content {
	height: 210px;
    background-image: url(../images/code.jpg);
    background-repeat: no-repeat;
}
/*search 框*/
/*.search-sty{
	margin-top: 80px;
}
.s-btn-sty{
	color: #fff;
	background-color: #ED4C4C;
	border:2px solid #ED4C4C;
}
.s-btn-sty:hover{
	color: #fff;
	background-color: #A22424;
	border:2px solid #A22424;
}
.transit{
	height: 50px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDDDDD;
}
.introduce {
	padding-top: 30px;
	background-color: #EBEBEB;
}
.introduce .message-left1{
	padding: 35px;
	font-size: 16px;
	background-color: #fff;
	margin-bottom: 35px;
}
.introduce .message-left1 h2{
	letter-spacing: 5px;
	text-align: center;
	padding-bottom: 35px;
}
.introduce .message-left2{
	padding: 35px;
	font-size: 16px;
	background-color: #fff;
}
.introduce .message-left2 h2{
	letter-spacing: 5px;
	text-align: center;
	padding-bottom: 35px;
}
.introduce .message-right1{
	padding: 35px;
	background-color: #fff;
	margin-bottom: 30px;
}
.introduce .message-right2{
	padding: 35px;
	background-color: #fff;
	margin-bottom: 30px;
}
.introduce .message-right3{
	padding: 35px;
	background-color: #fff;
}*/
/*loginsucc 开始*/
.wrapper{
	font-family: "微软雅黑";
	background-color: #EBEBEB;
}
.personInformation{
	height: 250px;
	background-color: #fff;
	border: 2px solid #fff;
	box-shadow: inset 0 1px #fff, 0 2px 5px rgba(34,25,25,0.4);
	-moz-box-shadow: inset 0 1px #fff, 0 2px 5px rgba(34,25,25,0.4);
	-webkit-box-shadow: inset 0 1px #fff, 0 2px 5px rgba(34,25,25,0.4);

}
.detail-info{
	margin-top: 15px;
	margin-bottom: 70px;
	background-color: #fff;
	border: 2px solid #fff;
	box-shadow: inset 0 1px #fff, 0 2px 5px rgba(34,25,25,0.4);
	-moz-box-shadow: inset 0 1px #fff, 0 2px 5px rgba(34,25,25,0.4);
	-webkit-box-shadow: inset 0 1px #fff, 0 2px 5px rgba(34,25,25,0.4);
}
/*.pI-left{
	border-right: 10px solid #eee;
	height: 250px;
}
.pI-right{

	height: 250px;
}
.pI-left h1{
	height: 150px;
	font-size: 18px;
}
.pI-left .myProject{
	margin-left: 15px;
}*/
.projectManage{
	margin-top: 35px;
	/*background-color: #fff;*/
}
/*登陆页 开始*/
.login-main{
	background-color: #EBEBEB;
}
.login-main form{
	margin-top: 140px;
}
/*注册 开始*/
.register-main{
	background-color: #EBEBEB;
}
.register-main form{
	margin-top: 100px;
}
/*.teacher_register{
	margin-top: 35px;
}
.collageAdmin-register{
	margin-top: 50px;
}*/



footer{
	font-family: "微软雅黑";
	margin-top: -70px;
}
footer .copyright {

	padding: 10px 0;
    background: rgba(0,0,0,0.6);
    font-size: 13px;
    text-align: center;
    color: #878787;
/*    line-height: 70px;*/

}
/*弹出层登录 开始*/
#login{
	width: 60%;
	margin: 0 auto;
	height: 600px;
	background: url(../images/iPhone6.png) no-repeat center;
	background-size: 100%;
}
#login .form-sty{
	width: 80%;
	margin: 0 auto;
	padding: 200px 250px;
}
.white_content {
	display: none;
	position: absolute;
	top: 10%;
	left: 20%;
	width: 80%;
	z-index:1002;
	overflow: auto;
}
/*弹出层登录 结束*/
/*响应式 开始*/
@media all and (max-width: 1024px) and (min-width: 800px){

}
@media all and (max-width: 800px) and (min-width: 640px){
	.pI-left .myProject{
	margin-left: 0px;
}
	
}
@media all and (max-width: 450px) and (min-width: 375px){
	.banner-inner{
		padding: 100px 0 50px;
	}
}
@media only screen and (max-width: 375px) {
	.banner-inner{
		padding: 50px 0 50px;
	}
	.search-sty{
		margin-top: 40px;
	}
}
/*响应式 结束*/
