<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>选择成果物类型</title>

        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- <link rel="shortcut icon" href="images/ico.png"> -->
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
		<script src="../static/js/jquery-2.1.1.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<style type="text/css">
			h3{
				font-family: "微软雅黑"
			}
		</style>
</head>
<body>
<h3>请选择成果物类型</h3>
<a href="/patent">专利</a><br>
<a href="/paper">论文</a><br>
<a href="/report">报告</a><br>
<a href="/businessplan">商业计划书</a><br>
<a href="/website">网站</a><br>

</body>
</html>