<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加学院管理员</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
</head>
<body style="background-color: #ECECEC">
<div class="register-main collageAdmin-register">
	<a href="CollageAdminUser.html" target="iFrame"><button class="btn btn-primary col-sm-1 col-xs-4" style='margin:15px;' >返回上一页</button></a>
	<div class="container">
		<form class="form-horizontal" method="POST" action="/addCollageAdminUser.html">
			<h2 class="text-center">添加学院管理员</h2><br><br>
			<div class="form-group">
				<div class="col-sm-4 control-label">用户名</div>
				<div class="col-sm-4">
					<input class="form-control" placeholder="请输入用户名" name="username">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">所属单位/学院</div>
				<div class="col-sm-4">
					<select class="form-control" name="collage">
	                    <option>学院</option>
	                    <option>外国语学院</option>
						<option>文学院</option>
						<option>马克思主义学院</option>
						<option>数学与系统科学学院</option>
						<option>生命科学学院</option>
						<option>物理科学与技术学院</option>
						<option>教育科学学院</option>
						<option>社会学学院</option>
						<option>化学化工学院</option>
						<option>法学院</option>
						<option>教育技术学院</option>
						<option>科信软件学院</option>
						<option>管理学院</option>
						<option>旅游管理学院</option>
						<option>美术与设计学院</option>
						<option>学前与初等教育学院</option>
						<option>国际商学院</option>
						<option>体育科学学院</option>
						<option>戏剧艺术学院</option>
						<option>粮食学院</option>
						<option>音乐学院</option>
						<option>古生物学院</option>
						<option>组织部</option>
						<option>党校</option>
						<option>宣传统战部</option>
						<option>审计监察处</option>
						<option>工会</option>
						<option>团委</option>
						<option>教务处</option>
						<option>学生处</option>
						<option>招生就业指导处</option>
						<option>研究生处</option>
						<option>教育硕士研究生院</option>
						<option>教师教育处</option>
						<option>教师专业发展学院</option>
						<option>学科与科研工作处</option>
						<option>国际教育学院</option>
						<option>继续教育学院</option>
						<option>校务办公室</option>
						<option>合作发展处</option>
						<option>后勤工作处</option>
						<option>校园安全与管理处</option>
						<option>人事处</option>
						<option>离退休工作处</option>
						<option>财务与资产管理处</option>
						<option>人力资源开发与管理研究所</option>
						<option>书法教育研究所</option>
						<option>教育经济与管理研究所</option>
						<option>附属艺术学校
						<option>延松剧场艺术研</option>究所</option>
						<option>梅兰芳艺术研究所</option>
						<option>法律文化研究中心</option>
						<option>法律与公共政策研究中心</option>
						<option>中国北方少数民族文化研究中心</option>
						<option>中国文化与文学研究所</option>
						<option>两栖爬行动物研究所</option>
						<option>大学外语教学部</option>
						<option>计算机与数学基础教学部</option>
						<option>实验教学中心</option>
						<option>辽宁省基础教育教研培训中心</option>
						<option>图书馆</option>
						<option>学报编辑部</option>
						<option>后勤集团</option>
						<option>校医院</option>
	                </select>
				</div>
			</div><br><br>
			<div class="form-group">
				<div>
					<button type="submit" class="btn btn-primary col-sm-2 col-xs-4 col-sm-offset-4 col-xs-offset-1">确认</button>

					<button type="reset" class="btn btn-default col-sm-1 col-xs-5 col-sm-offset-1 col-xs-offset-2">重置</button>
				</div>
			</div>

		</form>
	</div>
</div>
</body>
	<!-- Bootstrap Js -->
    <script src="../static/js/bootstrap.min.js"></script>
	
	<script src="../static/js/materialize.min.js"></script>
	
    <!-- Metis Menu Js -->
    <script src="../static/js/jquery.metisMenu.js"></script>
	
    <!-- Custom Js -->
     <script src="../static/js/custom-scripts.js"></script>
</html>