<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pro.Pname}}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />

    <!-- FontAwesome Styles-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../static/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../static/css/style-s.css">
</head>

<body>
<div class="container">
    <form class="form-horizontal" role="form" method="post" action="/auth/succ">
    <div class="form-group">
        <div class="col-sm-4 control-label">审核意见</div>
        <div class="col-sm-5">
            <textarea class="form-control" rows="10" name="opinion"></textarea>
        </div>
        
    </div>
    <div class="form-group">
        <button type="submit" href="/auth/succ" class="btn btn-success col-sm-2 col-xs-offset-3">审核通过</button>
    </div>
    </form>
        <form class="form-horizontal" role="form" method="post" action="/auth/fail">
    <div class="form-group">
        <div class="col-sm-4 control-label">审核意见</div>
        <div class="col-sm-5">
            <textarea class="form-control" rows="10" name="opinion"></textarea>
        </div>

    </div>
    <div class="form-group">
        <button type="submit" href="/auth/fail" class="btn btn-danger col-sm-2 col-xs-offset-3">未通过</button>
    </div>
    </form>
</div>
    <!-- jQuery Js -->
    <script src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>