{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>大创中心</title>
        
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- <link rel="shortcut icon" href="images/ico.png"> -->
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
		<script src="../static/js/jquery-2.1.1.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" style="margin-top:25px;">
		<form class="form-horizontal" role="form">
	  	<div class="form-group">
		    <label for="firstname" class="col-sm-4 control-label">项目名称</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control">
		    </div>
	  	</div><br>
	  	<div class="form-group">
		    <label for="" class="col-sm-4 control-label">项目成员</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control">
		    </div>
	  	</div><br>
	  	<div class="form-group">
		    <label for="" class="col-sm-4  control-label">项目负责人</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control">
		    </div>
	  	</div><br>
	  	<div class="form-group">
		    <label for="notice" class="col-sm-4 control-label">注意事项</label>
		    <div class="col-sm-5">
		    	<textarea class="form-control" rows="4"></textarea>
		    </div>
	  	</div><br>
	</form>
	</div>
</body>
</html>
{% endblock content %}