<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>立项申请书</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
	<script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<style type="text/css">
	.form-horizontal{
		padding-bottom: 125px;
	}
	</style>
</head>

<body>

<div class="container">
	<h3 class="text-center">“大学生创新创业训练计划”<br>
			项目申报书</h3>
	
               <form method="post" action="/project_application_content.html" class="form-horizontal" enctype="multipart/form-data" name="myForm">
            <div class="form-group">
				<div class="col-sm-4 control-label">项目名称</div>
				<div class="col-sm-5">
					<input class="form-control integrity" placeholder="请输入项目名称" name="Pname">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">学院</div>
				<div class="col-sm-5">
	                <select class="form-control integrity" name="Collage">
	                    <option>学院</option>
	                    <option>外国语学院</option>
						<option>文学院</option>
						<option>科信软件学院</option>
						<option>数学与系统科学学院</option>
						<option>生命科学学院</option>
						<option>物理科学与技术学院</option>
						<option>教育科学学院</option>
						<option>社会学学院</option>
						<option>化学化工学院</option>
						<option>法学院</option>
						<option>教育技术学院</option>
						<option>马克思主义学院</option>
						<option>管理学院</option>
						<option>旅游管理学院</option>
						<option>美术与设计学院</option>
						<option>学前与初等教育学院</option>
						<option>国际商学院</option>
						<option>体育科学学院</option>
						<option>戏剧艺术学院</option>
						<option>粮食学院</option>
						<option>音乐学院</option>
						<option>古生物学院</option>
						<option>组织部</option>
						<option>党校</option>
						<option>宣传统战部</option>
						<option>审计监察处</option>
						<option>工会</option>
						<option>团委</option>
						<option>教务处</option>
						<option>学生处</option>
						<option>招生就业指导处</option>
						<option>研究生处</option>
						<option>教育硕士研究生院</option>
						<option>教师教育处</option>
						<option>教师专业发展学院</option>
						<option>学科与科研工作处</option>
						<option>国际教育学院</option>
						<option>继续教育学院</option>
						<option>校务办公室</option>
						<option>合作发展处</option>
						<option>后勤工作处</option>
						<option>校园安全与管理处</option>
						<option>人事处</option>
						<option>离退休工作处</option>
						<option>财务与资产管理处</option>
						<option>人力资源开发与管理研究所</option>
						<option>书法教育研究所</option>
						<option>教育经济与管理研究所</option>
						<option>附属艺术学校
						<option>延松剧场艺术研</option>究所</option>
						<option>梅兰芳艺术研究所</option>
						<option>法律文化研究中心</option>
						<option>法律与公共政策研究中心</option>
						<option>中国北方少数民族文化研究中心</option>
						<option>中国文化与文学研究所</option>
						<option>两栖爬行动物研究所</option>
						<option>大学外语教学部</option>
						<option>计算机与数学基础教学部</option>
						<option>实验教学中心</option>
						<option>辽宁省基础教育教研培训中心</option>
						<option>图书馆</option>
						<option>学报编辑部</option>
						<option>后勤集团</option>
						<option>校医院</option>
	                </select>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary col-sm-4 col-sm-offset-4 m1">添加团队成员</button>
			</div>
			<div class="form-group m11">
            	<div class="col-sm-2">
					<input class="form-control integrity" placeholder="学号" name="username1">
				</div>
				<div class="col-sm-1">
					<input class="form-control integrity" placeholder="姓名" name="name1">
				</div>
				<div class="col-sm-2">
					<select class="form-control integrity " id="college_change1" name="collage1" onChange="change()">
	                    <option>学院</option>
	                    <option>外国语学院</option>
						<option>文学院</option>
						<option>科信软件学院</option>
						<option>数学与系统科学学院</option>
						<option>生命科学学院</option>
						<option>物理科学与技术学院</option>
						<option>教育科学学院</option>
						<option>社会学学院</option>
						<option>化学化工学院</option>
						<option>法学院</option>
						<option>教育技术学院</option>
						<option>马克思主义学院</option>
						<option>管理学院</option>
						<option>旅游管理学院</option>
						<option>美术与设计学院</option>
						<option>学前与初等教育学院</option>
						<option>国际商学院</option>
						<option>体育科学学院</option>
						<option>戏剧艺术学院</option>
						<option>粮食学院</option>
						<option>音乐学院</option>
						<option>古生物学院</option>
						<option>组织部</option>
						<option>党校</option>
						<option>宣传统战部</option>
						<option>审计监察处</option>
						<option>工会</option>
						<option>团委</option>
						<option>教务处</option>
						<option>学生处</option>
						<option>招生就业指导处</option>
						<option>研究生处</option>
						<option>教育硕士研究生院</option>
						<option>教师教育处</option>
						<option>教师专业发展学院</option>
						<option>学科与科研工作处</option>
						<option>国际教育学院</option>
						<option>继续教育学院</option>
						<option>校务办公室</option>
						<option>合作发展处</option>
						<option>后勤工作处</option>
						<option>校园安全与管理处</option>
						<option>人事处</option>
						<option>离退休工作处</option>
						<option>财务与资产管理处</option>
						<option>人力资源开发与管理研究所</option>
						<option>书法教育研究所</option>
						<option>教育经济与管理研究所</option>
						<option>附属艺术学校
						<option>延松剧场艺术研</option>究所</option>
						<option>梅兰芳艺术研究所</option>
						<option>法律文化研究中心</option>
						<option>法律与公共政策研究中心</option>
						<option>中国北方少数民族文化研究中心</option>
						<option>中国文化与文学研究所</option>
						<option>两栖爬行动物研究所</option>
						<option>大学外语教学部</option>
						<option>计算机与数学基础教学部</option>
						<option>实验教学中心</option>
						<option>辽宁省基础教育教研培训中心</option>
						<option>图书馆</option>
						<option>学报编辑部</option>
						<option>后勤集团</option>
						<option>校医院</option>
	                </select>
				</div>
				<div class="col-sm-2">
					<select class="form-control integrity " id="major_change1" name="major1" >
	                    <option>专业</option>
	                </select>
				</div>
				<div class="col-sm-2">
					<input class="form-control tel integrity" placeholder="手机号" name="tel1" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="11">
				</div>
				<div class="col-sm-2">
					<input class="form-control integrity" placeholder="邮箱" name="email1" onblur="checkMail()" id="email1">
				</div>
				<div class="col-sm-1">
					<img class="m2" src="../static/images/add.png"/>
					<img class="m2-" src="../static/images/subtract.png"/>
				</div>
			</div>
			<div class="form-group m22">
                <div class="col-sm-2">
					<input class="form-control integrity" placeholder="学号" name="username2">
				</div>

				<div class="col-sm-1">
					<input class="form-control integrity" placeholder="姓名" name="name2">
				</div>
				<div class="col-sm-2">
					<select class="form-control integrity" name="collage2" id="college_change2" onChange="change2()">
	                    <option>学院</option>
	                    <option>外国语学院</option>
						<option>文学院</option>
						<option>科信软件学院</option>
						<option>数学与系统科学学院</option>
						<option>生命科学学院</option>
						<option>物理科学与技术学院</option>
						<option>教育科学学院</option>
						<option>社会学学院</option>
						<option>化学化工学院</option>
						<option>法学院</option>
						<option>教育技术学院</option>
						<option>马克思主义学院</option>
						<option>管理学院</option>
						<option>旅游管理学院</option>
						<option>美术与设计学院</option>
						<option>学前与初等教育学院</option>
						<option>国际商学院</option>
						<option>体育科学学院</option>
						<option>戏剧艺术学院</option>
						<option>粮食学院</option>
						<option>音乐学院</option>
						<option>古生物学院</option>
						<option>组织部</option>
						<option>党校</option>
						<option>宣传统战部</option>
						<option>审计监察处</option>
						<option>工会</option>
						<option>团委</option>
						<option>教务处</option>
						<option>学生处</option>
						<option>招生就业指导处</option>
						<option>研究生处</option>
						<option>教育硕士研究生院</option>
						<option>教师教育处</option>
						<option>教师专业发展学院</option>
						<option>学科与科研工作处</option>
						<option>国际教育学院</option>
						<option>继续教育学院</option>
						<option>校务办公室</option>
						<option>合作发展处</option>
						<option>后勤工作处</option>
						<option>校园安全与管理处</option>
						<option>人事处</option>
						<option>离退休工作处</option>
						<option>财务与资产管理处</option>
						<option>人力资源开发与管理研究所</option>
						<option>书法教育研究所</option>
						<option>教育经济与管理研究所</option>
						<option>附属艺术学校
						<option>延松剧场艺术研</option>究所</option>
						<option>梅兰芳艺术研究所</option>
						<option>法律文化研究中心</option>
						<option>法律与公共政策研究中心</option>
						<option>中国北方少数民族文化研究中心</option>
						<option>中国文化与文学研究所</option>
						<option>两栖爬行动物研究所</option>
						<option>大学外语教学部</option>
						<option>计算机与数学基础教学部</option>
						<option>实验教学中心</option>
						<option>辽宁省基础教育教研培训中心</option>
						<option>图书馆</option>
						<option>学报编辑部</option>
						<option>后勤集团</option>
						<option>校医院</option>
	                </select>
				</div>
				<div class="col-sm-2">
					<select class="form-control integrity" name="major2" id="major_change2">
	                    <option>专业</option>
	                </select>
				</div>
				<div class="col-sm-2">
					<input class="form-control integrity" placeholder="手机号" name="tel2" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="11">
				</div>
				<div class="col-sm-2">
					<input class="form-control integrity" placeholder="邮箱" name="email2" onblur="checkMail2()"  id="email2">
				</div>
				<div class="col-sm-1">
					<img class="m3" src="../static/images/add.png"/>
					<img class="m3-" src="../static/images/subtract.png"/>
				</div>
			</div>
			<div class="form-group m33">
                <div class="col-sm-2">
					<input class="form-control integrity" placeholder="学号" name="username3">
				</div>
				<div class="col-sm-1">
					<input class="form-control integrity" placeholder="姓名" name="name3">
				</div>
				<div class="col-sm-2">
					<select class="form-control integrity" name="collage3" id="college_change3" onChange="change3()">
	                    <option>学院</option>
	                    <option>外国语学院</option>
						<option>文学院</option>
						<option>科信软件学院</option>
						<option>数学与系统科学学院</option>
						<option>生命科学学院</option>
						<option>物理科学与技术学院</option>
						<option>教育科学学院</option>
						<option>社会学学院</option>
						<option>化学化工学院</option>
						<option>法学院</option>
						<option>教育技术学院</option>
						<option>马克思主义学院</option>
						<option>管理学院</option>
						<option>旅游管理学院</option>
						<option>美术与设计学院</option>
						<option>学前与初等教育学院</option>
						<option>国际商学院</option>
						<option>体育科学学院</option>
						<option>戏剧艺术学院</option>
						<option>粮食学院</option>
						<option>音乐学院</option>
						<option>古生物学院</option>
						<option>组织部</option>
						<option>党校</option>
						<option>宣传统战部</option>
						<option>审计监察处</option>
						<option>工会</option>
						<option>团委</option>
						<option>教务处</option>
						<option>学生处</option>
						<option>招生就业指导处</option>
						<option>研究生处</option>
						<option>教育硕士研究生院</option>
						<option>教师教育处</option>
						<option>教师专业发展学院</option>
						<option>学科与科研工作处</option>
						<option>国际教育学院</option>
						<option>继续教育学院</option>
						<option>校务办公室</option>
						<option>合作发展处</option>
						<option>后勤工作处</option>
						<option>校园安全与管理处</option>
						<option>人事处</option>
						<option>离退休工作处</option>
						<option>财务与资产管理处</option>
						<option>人力资源开发与管理研究所</option>
						<option>书法教育研究所</option>
						<option>教育经济与管理研究所</option>
						<option>附属艺术学校
						<option>延松剧场艺术研</option>究所</option>
						<option>梅兰芳艺术研究所</option>
						<option>法律文化研究中心</option>
						<option>法律与公共政策研究中心</option>
						<option>中国北方少数民族文化研究中心</option>
						<option>中国文化与文学研究所</option>
						<option>两栖爬行动物研究所</option>
						<option>大学外语教学部</option>
						<option>计算机与数学基础教学部</option>
						<option>实验教学中心</option>
						<option>辽宁省基础教育教研培训中心</option>
						<option>图书馆</option>
						<option>学报编辑部</option>
						<option>后勤集团</option>
						<option>校医院</option>
	                </select>
				</div>
				<div class="col-sm-2">
					<select class="form-control integrity" name="major3" id="major_change3">
	                    <option>专业</option>
	                </select>
				</div>
				<div class="col-sm-2">
					<input class="form-control integrity" placeholder="手机号" name="tel3" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="11">
				</div>
				<div class="col-sm-2">
					<input class="form-control integrity" placeholder="邮箱" name="email3" onblur="checkMail3()"  id="email3">
				</div>
				<div class="col-sm-1">
					<img class="m4" src="../static/images/add.png"/>
					<img class="m4-" src="../static/images/subtract.png"/>
				</div>
			</div>
			<div class="form-group m44">
                <div class="col-sm-2">
					<input class="form-control integrity" placeholder="学号" name="username4">
				</div>
				<div class="col-sm-1">
					<input class="form-control integrity" placeholder="姓名" name="name4">
				</div>
				<div class="col-sm-2">
					<select class="form-control integrity" name="collage4" id="college_change4" onChange="change4()">
	                    <option>学院</option>
	                    <option>外国语学院</option>
						<option>文学院</option>
						<option>科信软件学院</option>
						<option>数学与系统科学学院</option>
						<option>生命科学学院</option>
						<option>物理科学与技术学院</option>
						<option>教育科学学院</option>
						<option>社会学学院</option>
						<option>化学化工学院</option>
						<option>法学院</option>
						<option>教育技术学院</option>
						<option>马克思主义学院</option>
						<option>管理学院</option>
						<option>旅游管理学院</option>
						<option>美术与设计学院</option>
						<option>学前与初等教育学院</option>
						<option>国际商学院</option>
						<option>体育科学学院</option>
						<option>戏剧艺术学院</option>
						<option>粮食学院</option>
						<option>音乐学院</option>
						<option>古生物学院</option>
						<option>组织部</option>
						<option>党校</option>
						<option>宣传统战部</option>
						<option>审计监察处</option>
						<option>工会</option>
						<option>团委</option>
						<option>教务处</option>
						<option>学生处</option>
						<option>招生就业指导处</option>
						<option>研究生处</option>
						<option>教育硕士研究生院</option>
						<option>教师教育处</option>
						<option>教师专业发展学院</option>
						<option>学科与科研工作处</option>
						<option>国际教育学院</option>
						<option>继续教育学院</option>
						<option>校务办公室</option>
						<option>合作发展处</option>
						<option>后勤工作处</option>
						<option>校园安全与管理处</option>
						<option>人事处</option>
						<option>离退休工作处</option>
						<option>财务与资产管理处</option>
						<option>人力资源开发与管理研究所</option>
						<option>书法教育研究所</option>
						<option>教育经济与管理研究所</option>
						<option>附属艺术学校
						<option>延松剧场艺术研</option>究所</option>
						<option>梅兰芳艺术研究所</option>
						<option>法律文化研究中心</option>
						<option>法律与公共政策研究中心</option>
						<option>中国北方少数民族文化研究中心</option>
						<option>中国文化与文学研究所</option>
						<option>两栖爬行动物研究所</option>
						<option>大学外语教学部</option>
						<option>计算机与数学基础教学部</option>
						<option>实验教学中心</option>
						<option>辽宁省基础教育教研培训中心</option>
						<option>图书馆</option>
						<option>学报编辑部</option>
						<option>后勤集团</option>
						<option>校医院</option>
	                </select>
				</div>
				<div class="col-sm-2">
					<select class="form-control integrity" name="major4" id="major_change4">
	                    <option>专业</option>
	                </select>
				</div>
				<div class="col-sm-2">
					<input class="form-control integrity" placeholder="手机号" name="tel4" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="11">
				</div>
				<div class="col-sm-2">
					<input class="form-control integrity" placeholder="邮箱" name="email4" onblur="checkMail4()"  id="email4">
				</div>
				<div class="col-sm-1">
					<img class="m5-" src="../static/images/subtract.png"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">指导教师</div>
				<div class="col-sm-5">
					<input class="form-control integrity" placeholder="请输入指导教师校园卡号" name="Teacher" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="8">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">项目类型</div>
				<div class="col-sm-3">
					<select class="form-control integrity" name="Pclass" id="project_type" onChange="type_change()">
	                    <option></option>
	                    <option>创新训练项目</option>
	                    <option>创业训练项目</option>
	                    <option>创业实践项目</option>
	                </select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">项目周期</div>
				<div class="col-sm-3">
					<select class="form-control integrity" name="PlanDate" id="period">
	                    <option>项目类型决定项目周期</option>
	                    <!-- <option>一年</option>
	                    <option>二年</option> -->
	                </select>
	            </div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">项目简介</div>
				<div class="col-sm-5">
					<textarea class="form-control integrity" maxlength="600" placeholder="请不要超过500字" name="Describe"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">申请理由</div>
				<div class="col-sm-5">
					<textarea class="form-control integrity" name="ReassonsForApplication" placeholder="包括自身/团队具备的知识、条件、特长、兴趣、前期准备等" ></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">项目方案</div>
				<div class="col-sm-5">
					<textarea class="form-control integrity" name="ProjectPlan" placeholder="计划、技术路线、人员分工等"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">项目特色和创新点</div>
				<div class="col-sm-5">
					<textarea class="form-control integrity" placeholder="计划、技术路线、人员分工等" name="Innovate"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">项目进度安排</div>
				<div class="col-sm-5">
					<textarea class="form-control integrity" name="Schedule"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">项目经费</div>
				<div class="col-sm-5">
					<input class="form-control integrity" name="Budget" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="5" placeholder="请输入数字">
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-4 control-label">经费使用计划</div>
				<div class="col-sm-5">
					<textarea class="form-control integrity" name="BudgetPlan"  placeholder="请详细说明"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">项目预期成果</div>
				<div class="col-sm-5">
					<textarea class="form-control integrity test" name="ExpectedResults" placeholder="论文级别、专利、设计、产品、服务"></textarea>
				</div>
			</div><br>
			<button class="btn btn-primary btn-block btn1 surebtn col-sm-offset-6" style="width:100px;">确认提交</button>
        </form>

</div>

</body>
<script type="text/javascript">
$(document).ready(function() {
	$('.m11').hide();
	$('.m22').hide();
	$('.m33').hide();
	$('.m44').hide();
	$('.m55').hide();
	$('.m1').click(function(){
		$('.m11').show();
		return false;
	});
	$('.m2').click(function(){
		$('.m22').show();
	
		return false;
	});
	$('.m2-').click(function(){
		$('.m11').hide();
		return false;
	});
	$('.m3').click(function(){
		$('.m33').show();

		return false;
	});
	$('.m3-').click(function(){
		$('.m22').hide();
		return false;
	});
	$('.m4').click(function(){
		$('.m44').show();

		return false;
	});
	$('.m4-').click(function(){
		$('.m33').hide();
		return false;
	});
	$('.m5-').click(function(){
		$('.m44').hide();
		return false;
	});
});
//邮箱格式验证
function checkMail(){
  var check = document.myForm.email1.value;
	if(check.indexOf("@",0)==-1){        //String.indexOf("子字符串",起始位置) 查找某个字符,如果找不到则返回-1
	    alert("邮箱名格式不正确");          
	    return false;
	}
	if(check.indexOf(".",0)==-1){
	    alert("邮箱名格式不正确");
	    return false;
	}
};
function checkMail2(){
  var check = document.myForm.email2.value;
	if(check.indexOf("@",0)==-1){        //String.indexOf("子字符串",起始位置) 查找某个字符,如果找不到则返回-1
	    alert("邮箱名格式不正确");          
	    return false;
	}
	if(check.indexOf(".",0)==-1){
	    alert("邮箱名格式不正确");
	    return false;
	}
};
function checkMail3(){
  var check = document.myForm.email3.value;
	if(check.indexOf("@",0)==-1){        //String.indexOf("子字符串",起始位置) 查找某个字符,如果找不到则返回-1
	    alert("邮箱名格式不正确");          
	    return false;
	}
	if(check.indexOf(".",0)==-1){
	    alert("邮箱名格式不正确");
	    return false;
	}
};
function checkMail4(){
  var check = document.myForm.email4.value;
	if(check.indexOf("@",0)==-1){        //String.indexOf("子字符串",起始位置) 查找某个字符,如果找不到则返回-1
	    alert("邮箱名格式不正确");          
	    return false;
	}
	if(check.indexOf(".",0)==-1){
	    alert("邮箱名格式不正确");
	    return false;
	}
};
//验证表单填写完整
$(".surebtn").click(function() {
   if ($(".integrity").val() == '' ){
    alert('请先填写完整');
    return true;    
    }
    if ($(".test").val() == '' ){
    alert('请先填写完整');
    return true;    
    }
    else{
        alert('确认提交');
    }    
});
//学院专业二级联动
function change()  
{  
   var x = document.getElementById("college_change1");  
   var y = document.getElementById("major_change1");  
   y.options.length = 0; // 清除second下拉框的所有内容  
   if(x.selectedIndex == 0)  
   {  
        y.options.add(new Option("专业", "无")); 
   }  
   if(x.selectedIndex == 1)  
   {  
        y.options.add(new Option("英语", "英语"));  
        y.options.add(new Option("日语", "日语")); 
        y.options.add(new Option("法语", "法语")); 
        y.options.add(new Option("德语", "德语")); 
        y.options.add(new Option("俄语", "俄语")); 
        y.options.add(new Option("翻译", "翻译")); 
   }  
   //文学院
   if(x.selectedIndex == 2)  
   {  
        y.options.add(new Option("汉语言文学", "汉语言文学")); 
        y.options.add(new Option("秘书学", "秘书学"));
        y.options.add(new Option("新闻学", "新闻学")); 
        y.options.add(new Option("汉语国际教育", "汉语国际教育")); 
   } 
   if(x.selectedIndex == 3)  
   {  
        y.options.add(new Option("计算机科学与技术", "计算机科学与技术"));  
        y.options.add(new Option("软件工程", "软件工程"));   
        y.options.add(new Option("网络工程", "网络工程"));       
        y.options.add(new Option("信息管理与信息系统", "信息管理与信息系统")); 
   } 
   if(x.selectedIndex == 4)  
   {  
        y.options.add(new Option("数学与应用数学", "数学与应用数学"));  
        y.options.add(new Option("信息与计算科学", "信息与计算科学")); 
        y.options.add(new Option("应用统计学", "应用统计学"));   
   } 
   //生命科学学院
   if(x.selectedIndex == 5)  
   {  
        y.options.add(new Option("生物技术", "生物技术"));  
        y.options.add(new Option("生物科学", "生物科学"));
        y.options.add(new Option("环境科学", "环境科学")); 
        y.options.add(new Option("环境生态工程", "环境生态工程"));  
   }
   if(x.selectedIndex == 6)  
   {  
        y.options.add(new Option("物理学", "物理学"));  
        y.options.add(new Option("应用物理学", "应用物理学"));
        y.options.add(new Option("电子信息工程", "电子信息工程")); 
   }
   //教育科学学院
   if(x.selectedIndex == 7)  
   {  
        y.options.add(new Option("应用心理学", "应用心理学"));  
        y.options.add(new Option("教育学", "教育学"));
   }
   if(x.selectedIndex == 8)  
   {  
        y.options.add(new Option("社会学", "社会学"));  
        y.options.add(new Option("社会工作", "社会工作"));
   }
   if(x.selectedIndex == 9)  
   {  
        y.options.add(new Option("化学", "化学"));  
        y.options.add(new Option("应用化学", "应用化学"));

   }
   if(x.selectedIndex == 10)  
   {  
        y.options.add(new Option("法学", "法学"));
   }
   //教育技术学院
   if(x.selectedIndex == 11)  
   {  
        y.options.add(new Option("教育技术学", "教育技术学"));
        y.options.add(new Option("网络与新媒体", "网络与新媒体"));
   }
   //马克思主义学院
   if(x.selectedIndex == 12)  
   {  
        
        y.options.add(new Option("思想政治教育", "思想政治教育"));
   }
   //管理学院
   if(x.selectedIndex == 13)  
   {        
        y.options.add(new Option("行政管理", "行政管理"));
        y.options.add(new Option("劳动与社会保障", "劳动与社会保障"));
        y.options.add(new Option("人力资源管理", "人力资源管理"));
   }
   if(x.selectedIndex == 14)  
   {  
        y.options.add(new Option("旅游管理", "旅游管理"));
        y.options.add(new Option("酒店管理", "酒店管理"));
        y.options.add(new Option("会展经济与管理", "会展经济与管理"));
   }
   if(x.selectedIndex == 15)  
   {  
        y.options.add(new Option("美术学", "美术学"));
        y.options.add(new Option("视觉传达设计", "视觉传达设计"));
        y.options.add(new Option("中国画", "中国画"));
        y.options.add(new Option("绘画", "绘画"));
        y.options.add(new Option("服装设计与工程", "服装设计与工程"));
        y.options.add(new Option("动画", "动画"));
        y.options.add(new Option("工艺美术", "工艺美术"));
        y.options.add(new Option("公共艺术", "公共艺术"));
        y.options.add(new Option("产品艺术", "产品艺术"));
        y.options.add(new Option("雕塑", "雕塑"));
        y.options.add(new Option("环境设计", "环境设计"));
   }
   if(x.selectedIndex == 16)  
   {  
        y.options.add(new Option("学前教育", "学前教育"));
        y.options.add(new Option("小学教育", "小学教育"));
   }
   if(x.selectedIndex == 17)  
   {  
        y.options.add(new Option("市场营销", "市场营销"));
        y.options.add(new Option("物流管理", "物流管理"));
        y.options.add(new Option("金融学", "金融学"));
        y.options.add(new Option("国际经济与贸易", "国际经济与贸易"));
        y.options.add(new Option("经济学", "经济学"));
   }
   if(x.selectedIndex == 18)  
   {  
        y.options.add(new Option("体育教育", "体育教育"));
        y.options.add(new Option("运动训练", "运动训练"));
        y.options.add(new Option("社会体育指导与管理", "社会体育指导与管理"));
        y.options.add(new Option("武术与民族传统体育", "武术与民族传统体育"));
   }
   if(x.selectedIndex == 19)  
   {  
        y.options.add(new Option("舞蹈学", "舞蹈学"));
        y.options.add(new Option("播音与主持艺术", "播音与主持艺术"));
        y.options.add(new Option("舞蹈表演", "舞蹈表演"));
        y.options.add(new Option("戏剧影视美术设计", "戏剧影视美术设计"));
        y.options.add(new Option("广播电视编导", "广播电视编导"));
        y.options.add(new Option("数字媒体艺术", "数字媒体艺术"));
        y.options.add(new Option("表演", "表演"));
        y.options.add(new Option("音乐表演", "音乐表演"));

   }
   if(x.selectedIndex == 20)  
   {  
        y.options.add(new Option("粮食工程", "粮食工程"));
        y.options.add(new Option("食品科学与工程", "食品科学与工程"));
        y.options.add(new Option("食品质量与安全", "食品质量与安全"));
   }
   if(x.selectedIndex == 21)  
   {  
        y.options.add(new Option("音乐学", "音乐学"));
        y.options.add(new Option("音乐表演", "音乐表演"));
   }
    if(x.selectedIndex == 22)  
   {  
        y.options.add(new Option("古生物学", "古生物学"));
   }
   
}  
function change2()  
{  
   var x = document.getElementById("college_change2");  
   var y = document.getElementById("major_change2");  
   y.options.length = 0; // 清除second下拉框的所有内容  
   if(x.selectedIndex == 0)  
   {  
        y.options.add(new Option("专业", "无")); 
   }  
   if(x.selectedIndex == 1)  
   {  
        y.options.add(new Option("英语", "英语"));  
        y.options.add(new Option("日语", "日语")); 
        y.options.add(new Option("法语", "法语")); 
        y.options.add(new Option("德语", "德语")); 
        y.options.add(new Option("俄语", "俄语")); 
        y.options.add(new Option("翻译", "翻译")); 
   }  
   //文学院
   if(x.selectedIndex == 2)  
   {  
        y.options.add(new Option("汉语言文学", "汉语言文学")); 
        y.options.add(new Option("秘书学", "秘书学"));
        y.options.add(new Option("新闻学", "新闻学")); 
        y.options.add(new Option("汉语国际教育", "汉语国际教育")); 
   } 
   if(x.selectedIndex == 3)  
   {  
        y.options.add(new Option("计算机科学与技术", "计算机科学与技术"));  
        y.options.add(new Option("软件工程", "软件工程"));   
        y.options.add(new Option("网络工程", "网络工程"));       
        y.options.add(new Option("信息管理与信息系统", "信息管理与信息系统")); 
   } 
   if(x.selectedIndex == 4)  
   {  
        y.options.add(new Option("数学与应用数学", "数学与应用数学"));  
        y.options.add(new Option("信息与计算科学", "信息与计算科学")); 
        y.options.add(new Option("应用统计学", "应用统计学"));   
   } 
   //生命科学学院
   if(x.selectedIndex == 5)  
   {  
        y.options.add(new Option("生物技术", "生物技术"));  
        y.options.add(new Option("生物科学", "生物科学"));
        y.options.add(new Option("环境科学", "环境科学")); 
        y.options.add(new Option("环境生态工程", "环境生态工程"));  
   }
   if(x.selectedIndex == 6)  
   {  
        y.options.add(new Option("物理学", "物理学"));  
        y.options.add(new Option("应用物理学", "应用物理学"));
        y.options.add(new Option("电子信息工程", "电子信息工程")); 
   }
   //教育科学学院
   if(x.selectedIndex == 7)  
   {  
        y.options.add(new Option("应用心理学", "应用心理学"));  
        y.options.add(new Option("教育学", "教育学"));
   }
   if(x.selectedIndex == 8)  
   {  
        y.options.add(new Option("社会学", "社会学"));  
        y.options.add(new Option("社会工作", "社会工作"));
   }
   if(x.selectedIndex == 9)  
   {  
        y.options.add(new Option("化学", "化学"));  
        y.options.add(new Option("应用化学", "应用化学"));

   }
   if(x.selectedIndex == 10)  
   {  
        y.options.add(new Option("法学", "法学"));
   }
   //教育技术学院
   if(x.selectedIndex == 11)  
   {  
        y.options.add(new Option("教育技术学", "教育技术学"));
        y.options.add(new Option("网络与新媒体", "网络与新媒体"));
   }
   //马克思主义学院
   if(x.selectedIndex == 12)  
   {  
        
        y.options.add(new Option("思想政治教育", "思想政治教育"));
   }
   //管理学院
   if(x.selectedIndex == 13)  
   {        
        y.options.add(new Option("行政管理", "行政管理"));
        y.options.add(new Option("劳动与社会保障", "劳动与社会保障"));
        y.options.add(new Option("人力资源管理", "人力资源管理"));
   }
   if(x.selectedIndex == 14)  
   {  
        y.options.add(new Option("旅游管理", "旅游管理"));
        y.options.add(new Option("酒店管理", "酒店管理"));
        y.options.add(new Option("会展经济与管理", "会展经济与管理"));
   }
   if(x.selectedIndex == 15)  
   {  
        y.options.add(new Option("美术学", "美术学"));
        y.options.add(new Option("视觉传达设计", "视觉传达设计"));
        y.options.add(new Option("中国画", "中国画"));
        y.options.add(new Option("绘画", "绘画"));
        y.options.add(new Option("服装设计与工程", "服装设计与工程"));
        y.options.add(new Option("动画", "动画"));
        y.options.add(new Option("工艺美术", "工艺美术"));
        y.options.add(new Option("公共艺术", "公共艺术"));
        y.options.add(new Option("产品艺术", "产品艺术"));
        y.options.add(new Option("雕塑", "雕塑"));
        y.options.add(new Option("环境设计", "环境设计"));
   }
   if(x.selectedIndex == 16)  
   {  
        y.options.add(new Option("学前教育", "学前教育"));
        y.options.add(new Option("小学教育", "小学教育"));
   }
   if(x.selectedIndex == 17)  
   {  
        y.options.add(new Option("市场营销", "市场营销"));
        y.options.add(new Option("物流管理", "物流管理"));
        y.options.add(new Option("金融学", "金融学"));
        y.options.add(new Option("国际经济与贸易", "国际经济与贸易"));
        y.options.add(new Option("经济学", "经济学"));
   }
   if(x.selectedIndex == 18)  
   {  
        y.options.add(new Option("体育教育", "体育教育"));
        y.options.add(new Option("运动训练", "运动训练"));
        y.options.add(new Option("社会体育指导与管理", "社会体育指导与管理"));
        y.options.add(new Option("武术与民族传统体育", "武术与民族传统体育"));
   }
   if(x.selectedIndex == 19)  
   {  
        y.options.add(new Option("舞蹈学", "舞蹈学"));
        y.options.add(new Option("播音与主持艺术", "播音与主持艺术"));
        y.options.add(new Option("舞蹈表演", "舞蹈表演"));
        y.options.add(new Option("戏剧影视美术设计", "戏剧影视美术设计"));
        y.options.add(new Option("广播电视编导", "广播电视编导"));
        y.options.add(new Option("数字媒体艺术", "数字媒体艺术"));
        y.options.add(new Option("表演", "表演"));
        y.options.add(new Option("音乐表演", "音乐表演"));

   }
   if(x.selectedIndex == 20)  
   {  
        y.options.add(new Option("粮食工程", "粮食工程"));
        y.options.add(new Option("食品科学与工程", "食品科学与工程"));
        y.options.add(new Option("食品质量与安全", "食品质量与安全"));
   }
   if(x.selectedIndex == 21)  
   {  
        y.options.add(new Option("音乐学", "音乐学"));
        y.options.add(new Option("音乐表演", "音乐表演"));
   }
    if(x.selectedIndex == 22)  
   {  
        y.options.add(new Option("古生物学", "古生物学"));
   }
   
}
function change3()  
{  
   var x = document.getElementById("college_change3");  
   var y = document.getElementById("major_change3");  
   y.options.length = 0; // 清除second下拉框的所有内容  
   if(x.selectedIndex == 0)  
   {  
        y.options.add(new Option("专业", "无")); 
   }   
   if(x.selectedIndex == 1)  
   {  
        y.options.add(new Option("英语", "英语"));  
        y.options.add(new Option("日语", "日语")); 
        y.options.add(new Option("法语", "法语")); 
        y.options.add(new Option("德语", "德语")); 
        y.options.add(new Option("俄语", "俄语")); 
        y.options.add(new Option("翻译", "翻译")); 
   }  
   //文学院
   if(x.selectedIndex == 2)  
   {  
        y.options.add(new Option("汉语言文学", "汉语言文学")); 
        y.options.add(new Option("秘书学", "秘书学"));
        y.options.add(new Option("新闻学", "新闻学")); 
        y.options.add(new Option("汉语国际教育", "汉语国际教育")); 
   } 
   if(x.selectedIndex == 3)  
   {  
        y.options.add(new Option("计算机科学与技术", "计算机科学与技术"));  
        y.options.add(new Option("软件工程", "软件工程"));   
        y.options.add(new Option("网络工程", "网络工程"));       
        y.options.add(new Option("信息管理与信息系统", "信息管理与信息系统")); 
   } 
   if(x.selectedIndex == 4)  
   {  
        y.options.add(new Option("数学与应用数学", "数学与应用数学"));  
        y.options.add(new Option("信息与计算科学", "信息与计算科学")); 
        y.options.add(new Option("应用统计学", "应用统计学"));   
   } 
   //生命科学学院
   if(x.selectedIndex == 5)  
   {  
        y.options.add(new Option("生物技术", "生物技术"));  
        y.options.add(new Option("生物科学", "生物科学"));
        y.options.add(new Option("环境科学", "环境科学")); 
        y.options.add(new Option("环境生态工程", "环境生态工程"));  
   }
   if(x.selectedIndex == 6)  
   {  
        y.options.add(new Option("物理学", "物理学"));  
        y.options.add(new Option("应用物理学", "应用物理学"));
        y.options.add(new Option("电子信息工程", "电子信息工程")); 
   }
   //教育科学学院
   if(x.selectedIndex == 7)  
   {  
        y.options.add(new Option("应用心理学", "应用心理学"));  
        y.options.add(new Option("教育学", "教育学"));
   }
   if(x.selectedIndex == 8)  
   {  
        y.options.add(new Option("社会学", "社会学"));  
        y.options.add(new Option("社会工作", "社会工作"));
   }
   if(x.selectedIndex == 9)  
   {  
        y.options.add(new Option("化学", "化学"));  
        y.options.add(new Option("应用化学", "应用化学"));

   }
   if(x.selectedIndex == 10)  
   {  
        y.options.add(new Option("法学", "法学"));
   }
   //教育技术学院
   if(x.selectedIndex == 11)  
   {  
        y.options.add(new Option("教育技术学", "教育技术学"));
        y.options.add(new Option("网络与新媒体", "网络与新媒体"));
   }
   //马克思主义学院
   if(x.selectedIndex == 12)  
   {  
        
        y.options.add(new Option("思想政治教育", "思想政治教育"));
   }
   //管理学院
   if(x.selectedIndex == 13)  
   {        
        y.options.add(new Option("行政管理", "行政管理"));
        y.options.add(new Option("劳动与社会保障", "劳动与社会保障"));
        y.options.add(new Option("人力资源管理", "人力资源管理"));
   }
   if(x.selectedIndex == 14)  
   {  
        y.options.add(new Option("旅游管理", "旅游管理"));
        y.options.add(new Option("酒店管理", "酒店管理"));
        y.options.add(new Option("会展经济与管理", "会展经济与管理"));
   }
   if(x.selectedIndex == 15)  
   {  
        y.options.add(new Option("美术学", "美术学"));
        y.options.add(new Option("视觉传达设计", "视觉传达设计"));
        y.options.add(new Option("中国画", "中国画"));
        y.options.add(new Option("绘画", "绘画"));
        y.options.add(new Option("服装设计与工程", "服装设计与工程"));
        y.options.add(new Option("动画", "动画"));
        y.options.add(new Option("工艺美术", "工艺美术"));
        y.options.add(new Option("公共艺术", "公共艺术"));
        y.options.add(new Option("产品艺术", "产品艺术"));
        y.options.add(new Option("雕塑", "雕塑"));
        y.options.add(new Option("环境设计", "环境设计"));
   }
   if(x.selectedIndex == 16)  
   {  
        y.options.add(new Option("学前教育", "学前教育"));
        y.options.add(new Option("小学教育", "小学教育"));
   }
   if(x.selectedIndex == 17)  
   {  
        y.options.add(new Option("市场营销", "市场营销"));
        y.options.add(new Option("物流管理", "物流管理"));
        y.options.add(new Option("金融学", "金融学"));
        y.options.add(new Option("国际经济与贸易", "国际经济与贸易"));
        y.options.add(new Option("经济学", "经济学"));
   }
   if(x.selectedIndex == 18)  
   {  
        y.options.add(new Option("体育教育", "体育教育"));
        y.options.add(new Option("运动训练", "运动训练"));
        y.options.add(new Option("社会体育指导与管理", "社会体育指导与管理"));
        y.options.add(new Option("武术与民族传统体育", "武术与民族传统体育"));
   }
   if(x.selectedIndex == 19)  
   {  
        y.options.add(new Option("舞蹈学", "舞蹈学"));
        y.options.add(new Option("播音与主持艺术", "播音与主持艺术"));
        y.options.add(new Option("舞蹈表演", "舞蹈表演"));
        y.options.add(new Option("戏剧影视美术设计", "戏剧影视美术设计"));
        y.options.add(new Option("广播电视编导", "广播电视编导"));
        y.options.add(new Option("数字媒体艺术", "数字媒体艺术"));
        y.options.add(new Option("表演", "表演"));
        y.options.add(new Option("音乐表演", "音乐表演"));

   }
   if(x.selectedIndex == 20)  
   {  
        y.options.add(new Option("粮食工程", "粮食工程"));
        y.options.add(new Option("食品科学与工程", "食品科学与工程"));
        y.options.add(new Option("食品质量与安全", "食品质量与安全"));
   }
   if(x.selectedIndex == 21)  
   {  
        y.options.add(new Option("音乐学", "音乐学"));
        y.options.add(new Option("音乐表演", "音乐表演"));
   }
    if(x.selectedIndex == 22)  
   {  
        y.options.add(new Option("古生物学", "古生物学"));
   }
   
}
function change4()  
{  
   var x = document.getElementById("college_change4");  
   var y = document.getElementById("major_change4");  
   y.options.length = 0; // 清除second下拉框的所有内容  
   if(x.selectedIndex == 0)  
   {  
        y.options.add(new Option("专业", "无")); 
   }  
   if(x.selectedIndex == 1)  
   {  
        y.options.add(new Option("英语", "英语"));  
        y.options.add(new Option("日语", "日语")); 
        y.options.add(new Option("法语", "法语")); 
        y.options.add(new Option("德语", "德语")); 
        y.options.add(new Option("俄语", "俄语")); 
        y.options.add(new Option("翻译", "翻译")); 
   }  
   //文学院
   if(x.selectedIndex == 2)  
   {  
        y.options.add(new Option("汉语言文学", "汉语言文学")); 
        y.options.add(new Option("秘书学", "秘书学"));
        y.options.add(new Option("新闻学", "新闻学")); 
        y.options.add(new Option("汉语国际教育", "汉语国际教育")); 
   } 
   if(x.selectedIndex == 3)  
   {  
        y.options.add(new Option("计算机科学与技术", "计算机科学与技术"));  
        y.options.add(new Option("软件工程", "软件工程"));   
        y.options.add(new Option("网络工程", "网络工程"));       
        y.options.add(new Option("信息管理与信息系统", "信息管理与信息系统")); 
   } 
   if(x.selectedIndex == 4)  
   {  
        y.options.add(new Option("数学与应用数学", "数学与应用数学"));  
        y.options.add(new Option("信息与计算科学", "信息与计算科学")); 
        y.options.add(new Option("应用统计学", "应用统计学"));   
   } 
   //生命科学学院
   if(x.selectedIndex == 5)  
   {  
        y.options.add(new Option("生物技术", "生物技术"));  
        y.options.add(new Option("生物科学", "生物科学"));
        y.options.add(new Option("环境科学", "环境科学")); 
        y.options.add(new Option("环境生态工程", "环境生态工程"));  
   }
   if(x.selectedIndex == 6)  
   {  
        y.options.add(new Option("物理学", "物理学"));  
        y.options.add(new Option("应用物理学", "应用物理学"));
        y.options.add(new Option("电子信息工程", "电子信息工程")); 
   }
   //教育科学学院
   if(x.selectedIndex == 7)  
   {  
        y.options.add(new Option("应用心理学", "应用心理学"));  
        y.options.add(new Option("教育学", "教育学"));
   }
   if(x.selectedIndex == 8)  
   {  
        y.options.add(new Option("社会学", "社会学"));  
        y.options.add(new Option("社会工作", "社会工作"));
   }
   if(x.selectedIndex == 9)  
   {  
        y.options.add(new Option("化学", "化学"));  
        y.options.add(new Option("应用化学", "应用化学"));

   }
   if(x.selectedIndex == 10)  
   {  
        y.options.add(new Option("法学", "法学"));
   }
   //教育技术学院
   if(x.selectedIndex == 11)  
   {  
        y.options.add(new Option("教育技术学", "教育技术学"));
        y.options.add(new Option("网络与新媒体", "网络与新媒体"));
   }
   //马克思主义学院
   if(x.selectedIndex == 12)  
   {  
        
        y.options.add(new Option("思想政治教育", "思想政治教育"));
   }
   //管理学院
   if(x.selectedIndex == 13)  
   {        
        y.options.add(new Option("行政管理", "行政管理"));
        y.options.add(new Option("劳动与社会保障", "劳动与社会保障"));
        y.options.add(new Option("人力资源管理", "人力资源管理"));
   }
   if(x.selectedIndex == 14)  
   {  
        y.options.add(new Option("旅游管理", "旅游管理"));
        y.options.add(new Option("酒店管理", "酒店管理"));
        y.options.add(new Option("会展经济与管理", "会展经济与管理"));
   }
   if(x.selectedIndex == 15)  
   {  
        y.options.add(new Option("美术学", "美术学"));
        y.options.add(new Option("视觉传达设计", "视觉传达设计"));
        y.options.add(new Option("中国画", "中国画"));
        y.options.add(new Option("绘画", "绘画"));
        y.options.add(new Option("服装设计与工程", "服装设计与工程"));
        y.options.add(new Option("动画", "动画"));
        y.options.add(new Option("工艺美术", "工艺美术"));
        y.options.add(new Option("公共艺术", "公共艺术"));
        y.options.add(new Option("产品艺术", "产品艺术"));
        y.options.add(new Option("雕塑", "雕塑"));
        y.options.add(new Option("环境设计", "环境设计"));
   }
   if(x.selectedIndex == 16)  
   {  
        y.options.add(new Option("学前教育", "学前教育"));
        y.options.add(new Option("小学教育", "小学教育"));
   }
   if(x.selectedIndex == 17)  
   {  
        y.options.add(new Option("市场营销", "市场营销"));
        y.options.add(new Option("物流管理", "物流管理"));
        y.options.add(new Option("金融学", "金融学"));
        y.options.add(new Option("国际经济与贸易", "国际经济与贸易"));
        y.options.add(new Option("经济学", "经济学"));
   }
   if(x.selectedIndex == 18)  
   {  
        y.options.add(new Option("体育教育", "体育教育"));
        y.options.add(new Option("运动训练", "运动训练"));
        y.options.add(new Option("社会体育指导与管理", "社会体育指导与管理"));
        y.options.add(new Option("武术与民族传统体育", "武术与民族传统体育"));
   }
   if(x.selectedIndex == 19)  
   {  
        y.options.add(new Option("舞蹈学", "舞蹈学"));
        y.options.add(new Option("播音与主持艺术", "播音与主持艺术"));
        y.options.add(new Option("舞蹈表演", "舞蹈表演"));
        y.options.add(new Option("戏剧影视美术设计", "戏剧影视美术设计"));
        y.options.add(new Option("广播电视编导", "广播电视编导"));
        y.options.add(new Option("数字媒体艺术", "数字媒体艺术"));
        y.options.add(new Option("表演", "表演"));
        y.options.add(new Option("音乐表演", "音乐表演"));

   }
   if(x.selectedIndex == 20)  
   {  
        y.options.add(new Option("粮食工程", "粮食工程"));
        y.options.add(new Option("食品科学与工程", "食品科学与工程"));
        y.options.add(new Option("食品质量与安全", "食品质量与安全"));
   }
   if(x.selectedIndex == 21)  
   {  
        y.options.add(new Option("音乐学", "音乐学"));
        y.options.add(new Option("音乐表演", "音乐表演"));
   }
    if(x.selectedIndex == 22)  
   {  
        y.options.add(new Option("古生物学", "古生物学"));
   }
   
}
//项目类型联动
function type_change()  
{  
   var x = document.getElementById("project_type");  
   var y = document.getElementById("period");  
   y.options.length = 0; // 清除second下拉框的所有内容  
   if(x.selectedIndex == 0)  
   {  
        y.options.add(new Option("", "0")); 
   }  
  
   if(x.selectedIndex == 1)  
   {  
        y.options.add(new Option("一年", "一年"));

   }  
   if(x.selectedIndex == 2)  
   {  
        y.options.add(new Option("一年", "一年"));
   } 
   if(x.selectedIndex == 3)  
   {  
        y.options.add(new Option("二年", "二年"));  
   }
   
};
</script>

</html>

