<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>真的要删除？</title>

    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
    <link id="bootstrap-style" href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="../static/css/style.css" rel="stylesheet">

</head>

<body>

<div class="succ">
    <h3 class="text-center">？？？<br>想好了？删了可就没了我跟你说</h3><br>
 
    <div type="button" class="btn btn-primary col-sm-offset-2 col-xs-offset-2"><a href="/delete/project/{{pid}}" style="color:#fff">想好了！</a></div>
    <div class="btn btn-default col-sm-offset-2 col-xs-offset-2"><a href="/myproject" class="return">手滑...</a></div>
</div>

</body>

</html>