<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改学生个人信息</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
    <style type="text/css">
    .register-main form {
      margin-top: 40px;
  }
    </style>
</head>
<body style="background-color: #ECECEC">
<div class="register-main collageAdmin-register">
  <div class="container">
    <form class="form-horizontal" method="POST" action="/updateStudentInfo.html" name="update_form">
      <h2 class="text-center">修改个人信息</h2><br><br>
      <div class="form-group">
        <div class="col-sm-4 control-label">姓名</div>
        <div class="col-sm-4">
          <input class="form-control" placeholder="请输入姓名" id="name_change" name="name" value="{{userinfo.name}}">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 control-label">学院</div>
        <div class="col-sm-4">
          <select class="form-control" name="collage" id="college_change" onChange="change()">
                      <option>{{userinfo.collage}}</option>
                      <option>外国语学院</option>
            <option>文学院</option>
            <option>科信软件学院</option>
            <option>数学与系统科学学院</option>
            <option>生命科学学院</option>
            <option>物理科学与技术学院</option>
            <option>教育科学学院</option>
            <option>社会学学院</option>
            <option>化学化工学院</option>
            <option>法学院</option>
            <option>教育技术学院</option>
            <option>马克思主义学院</option>
            <option>管理学院</option>
            <option>旅游管理学院</option>
            <option>美术与设计学院</option>
            <option>学前与初等教育学院</option>
            <option>国际商学院</option>
            <option>体育科学学院</option>
            <option>戏剧艺术学院</option>
            <option>粮食学院</option>
            <option>音乐学院</option>
            <option>古生物学院</option>
            <option>组织部</option>
            <option>党校</option>
            <option>宣传统战部</option>
            <option>审计监察处</option>
            <option>工会</option>
            <option>团委</option>
            <option>教务处</option>
            <option>学生处</option>
            <option>招生就业指导处</option>
            <option>研究生处</option>
            <option>教育硕士研究生院</option>
            <option>教师教育处</option>
            <option>教师专业发展学院</option>
            <option>学科与科研工作处</option>
            <option>国际教育学院</option>
            <option>继续教育学院</option>
            <option>校务办公室</option>
            <option>合作发展处</option>
            <option>后勤工作处</option>
            <option>校园安全与管理处</option>
            <option>人事处</option>
            <option>离退休工作处</option>
            <option>财务与资产管理处</option>
            <option>人力资源开发与管理研究所</option>
            <option>书法教育研究所</option>
            <option>教育经济与管理研究所</option>
            <option>附属艺术学校
            <option>延松剧场艺术研</option>究所</option>
            <option>梅兰芳艺术研究所</option>
            <option>法律文化研究中心</option>
            <option>法律与公共政策研究中心</option>
            <option>中国北方少数民族文化研究中心</option>
            <option>中国文化与文学研究所</option>
            <option>两栖爬行动物研究所</option>
            <option>大学外语教学部</option>
            <option>计算机与数学基础教学部</option>
            <option>实验教学中心</option>
            <option>辽宁省基础教育教研培训中心</option>
            <option>图书馆</option>
            <option>学报编辑部</option>
            <option>后勤集团</option>
            <option>校医院</option>
                  </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 control-label">专业</div>
        <div class="col-sm-4">
          <select class="form-control" name="major" id="major_change">
              
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 control-label">联系方式</div>
        <div class="col-sm-4">
          <input class="form-control" name="tel" id="tel" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="11" value="{{userinfo.tel}}">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 control-label">E-mail</div>
        <div class="col-sm-4">
          <input class="form-control" name="email" id="email" onblur="checkMail()" value="{{userinfo.email}}">
        </div>
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary col-sm-2 col-xs-4 col-sm-offset-4 col-xs-offset-1 surebtn">确认</button>

        <button type="reset" class="btn btn-default col-sm-1 col-xs-5 col-sm-offset-1 col-xs-offset-2">重置</button>
      </div>

    </form>
  </div>
</div>
</body>
  <script src="../static/js/jquery-1.10.2.js"></script>
  <!-- Bootstrap Js -->
    <script src="../static/js/bootstrap.min.js"></script>
  
  <script src="../static/js/materialize.min.js"></script>
  
    <!-- Metis Menu Js -->
    <script src="../static/js/jquery.metisMenu.js"></script>
  
    <!-- Custom Js -->
    <script src="../static/js/custom-scripts.js"></script>
    <script type="text/javascript">
    //学院专业二级联动
function change()  
{  
   var x = document.getElementById("college_change");  
   var y = document.getElementById("major_change");  
   y.options.length = 0; // 清除second下拉框的所有内容  
   if(x.selectedIndex == 0)  
   {  
        y.options.add(new Option("专业", "无")); 
   }  
   if(x.selectedIndex == 1)  
   {  
        y.options.add(new Option("英语", "英语"));  
        y.options.add(new Option("日语", "日语")); 
        y.options.add(new Option("法语", "法语")); 
        y.options.add(new Option("德语", "德语")); 
        y.options.add(new Option("俄语", "俄语")); 
        y.options.add(new Option("翻译", "翻译")); 
   }  
   //文学院
   if(x.selectedIndex == 2)  
   {  
        y.options.add(new Option("汉语言文学", "汉语言文学")); 
        y.options.add(new Option("秘书学", "秘书学"));
        y.options.add(new Option("新闻学", "新闻学")); 
        y.options.add(new Option("汉语国际教育", "汉语国际教育")); 
   } 
   if(x.selectedIndex == 3)  
   {  
        y.options.add(new Option("计算机科学与技术", "计算机科学与技术"));  
        y.options.add(new Option("软件工程", "软件工程"));   
        y.options.add(new Option("网络工程", "网络工程"));       
        y.options.add(new Option("信息管理与信息系统", "信息管理与信息系统")); 
   } 
   if(x.selectedIndex == 4)  
   {  
        y.options.add(new Option("数学与应用数学", "数学与应用数学"));  
        y.options.add(new Option("信息与计算科学", "信息与计算科学")); 
        y.options.add(new Option("应用统计学", "应用统计学"));   
   } 
   //生命科学学院
   if(x.selectedIndex == 5)  
   {  
        y.options.add(new Option("生物技术", "生物技术"));  
        y.options.add(new Option("生物科学", "生物科学"));
        y.options.add(new Option("环境科学", "环境科学")); 
        y.options.add(new Option("环境生态工程", "环境生态工程"));  
   }
   if(x.selectedIndex == 6)  
   {  
        y.options.add(new Option("物理学", "物理学"));  
        y.options.add(new Option("应用物理学", "应用物理学"));
        y.options.add(new Option("电子信息工程", "电子信息工程")); 
   }
   //教育科学学院
   if(x.selectedIndex == 7)  
   {  
        y.options.add(new Option("应用心理学", "应用心理学"));  
        y.options.add(new Option("教育学", "教育学"));
   }
   if(x.selectedIndex == 8)  
   {  
        y.options.add(new Option("社会学", "社会学"));  
        y.options.add(new Option("社会工作", "社会工作"));
   }
   if(x.selectedIndex == 9)  
   {  
        y.options.add(new Option("化学", "化学"));  
        y.options.add(new Option("应用化学", "应用化学"));
   }
   if(x.selectedIndex == 10)  
   {  
        y.options.add(new Option("法学", "法学"));
   }
   //教育技术学院
   if(x.selectedIndex == 11)  
   {  
        y.options.add(new Option("教育技术学", "教育技术学"));
        y.options.add(new Option("网络与新媒体", "网络与新媒体"));
   }
   //马克思主义学院
   if(x.selectedIndex == 12)  
   {  
        
        y.options.add(new Option("思想政治教育", "思想政治教育"));
   }
   //管理学院
   if(x.selectedIndex == 13)  
   {        
        y.options.add(new Option("行政管理", "行政管理"));
        y.options.add(new Option("劳动与社会保障", "劳动与社会保障"));
        y.options.add(new Option("人力资源管理", "人力资源管理"));
   }
   if(x.selectedIndex == 14)  
   {  
        y.options.add(new Option("旅游管理", "旅游管理"));
        y.options.add(new Option("酒店管理", "酒店管理"));
        y.options.add(new Option("会展经济与管理", "会展经济与管理"));
   }
   if(x.selectedIndex == 15)  
   {  
        y.options.add(new Option("美术学", "美术学"));
        y.options.add(new Option("视觉传达设计", "视觉传达设计"));
        y.options.add(new Option("中国画", "中国画"));
        y.options.add(new Option("绘画", "绘画"));
        y.options.add(new Option("服装设计与工程", "服装设计与工程"));
        y.options.add(new Option("动画", "动画"));
        y.options.add(new Option("工艺美术", "工艺美术"));
        y.options.add(new Option("公共艺术", "公共艺术"));
        y.options.add(new Option("产品设计", "产品设计"));
        y.options.add(new Option("雕塑", "雕塑"));
        y.options.add(new Option("环境设计", "环境设计"));
   }
   if(x.selectedIndex == 16)  
   {  
        y.options.add(new Option("学前教育", "学前教育"));
        y.options.add(new Option("小学教育", "小学教育"));
   }
   if(x.selectedIndex == 17)  
   {  
        y.options.add(new Option("市场营销", "市场营销"));
        y.options.add(new Option("物流管理", "物流管理"));
        y.options.add(new Option("金融学", "金融学"));
        y.options.add(new Option("国际经济与贸易", "国际经济与贸易"));
        y.options.add(new Option("经济学", "经济学"));
   }
   if(x.selectedIndex == 18)  
   {  
        y.options.add(new Option("体育教育", "体育教育"));
        y.options.add(new Option("运动训练", "运动训练"));
        y.options.add(new Option("社会体育指导与管理", "社会体育指导与管理"));
        y.options.add(new Option("武术与民族传统体育", "武术与民族传统体育"));
   }
   if(x.selectedIndex == 19)  
   {  
        y.options.add(new Option("舞蹈学", "舞蹈学"));
        y.options.add(new Option("播音与主持艺术", "播音与主持艺术"));
        y.options.add(new Option("舞蹈表演", "舞蹈表演"));
        y.options.add(new Option("戏剧影视美术设计", "戏剧影视美术设计"));
        y.options.add(new Option("广播电视编导", "广播电视编导"));
        y.options.add(new Option("数字媒体艺术", "数字媒体艺术"));
        y.options.add(new Option("表演", "表演"));
        y.options.add(new Option("音乐表演", "音乐表演"));
   }
   if(x.selectedIndex == 20)  
   {  
        y.options.add(new Option("粮食工程", "粮食工程"));
        y.options.add(new Option("食品科学与工程", "食品科学与工程"));
        y.options.add(new Option("食品质量与安全", "食品质量与安全"));
   }
   if(x.selectedIndex == 21)  
   {  
        y.options.add(new Option("音乐学", "音乐学"));
        y.options.add(new Option("音乐表演", "音乐表演"));
   }
    if(x.selectedIndex == 22)  
   {  
        y.options.add(new Option("古生物学", "古生物学"));
   }
};

//邮箱格式验证
function checkMail(){
  var check = document.update_form.email.value;
  if(check.indexOf("@",0)==-1){        //String.indexOf("子字符串",起始位置) 查找某个字符,如果找不到则返回-1
      alert("邮箱名格式不正确");          
      return false;
  }
  if(check.indexOf(".",0)==-1){
      alert("邮箱名格式不正确");
      return false;
  }
};
//验证表单填写完整
$(".surebtn").click(function() {
   if ($("#name_change").val() == '' ){
    alert('不能空着阿，空着你就白参加了我和你说');
    return false;    
    }
    if ($("#college_change").val() == '' ){
    alert('不能空着阿，又不是黑户');
    return false;    
    }
    if ($("#major_change").val() == '' ){
    alert('？？专业为什么不填？');
    return false;    
    }
    if ($("#tel").val() == '' ){
    alert('不能空着阿，空着咋联系你');
    return false;    
    }
    if ($("#email").val() == '' ){
    alert('邮箱不能空着阿，空着不能给你发邮件了');
    return false;    
    }
    // if ($(".test").val() == '' ){
    // alert('请先填写完整');
    // return true;    
    // }
    else{
        alert('确认修改');
    }    
});
    </script>
</html>