<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="../static/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="../static/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
</head>
<body style="background-color: #ECECEC">
<div class="register-main collageAdmin-register">
	<div class="container">
		<form class="form-horizontal" method="POST" action="/change/password">
			<h2 class="text-center">修改账户密码</h2><br><br>
			<div class="form-group">
				<div class="col-sm-4 control-label">输入新密码</div>
				<div class="col-sm-4">
					<input class="form-control" placeholder="请输入新密码" id="input1" type="password" name="password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">再次输入密码</div>
				<div class="col-sm-4">
					<input class="form-control" placeholder="再次输入新密码" id="input2" type="password">
				</div>
			</div>
			
			
			
			<br>
			<div class="form-group">
				<button type="submit" class="btn btn-primary col-sm-1 col-xs-4 col-sm-offset-4 col-xs-offset-1" onclick="check()">确认</button>

				<button type="reset" class="btn btn-default col-sm-2 col-xs-5 col-sm-offset-1 col-xs-offset-2">重置</button>
			</div>

		</form>
	</div>
</div>
</body>
	<!-- Bootstrap Js -->
    <script src="../static/js/bootstrap.min.js"></script>
	
	<script src="../static/js/materialize.min.js"></script>
	
    <!-- Metis Menu Js -->
    <script src="../static/js/jquery.metisMenu.js"></script>
	
    <!-- Custom Js -->
     <script src="../static/js/custom-scripts.js"></script>
     <script type="text/javascript">
     function check()
		{ 
		    with(document.all){
		   if(input1.value!=input2.value)
		   {
		     alert("两次密码不一致")
			 input1.value = "";
			 input2.value = "";
		   }
		   }
		}
     </script>
</html>